.canopy-list-category {
	font-size: 32pt;
	float: left;
	display: inline-block;
}

.canopy-list-detail {
	font-size: 16pt;
	display: inline-block;
}

ul li {
    list-style-type: none;
}

.tab {
    display: table;
    width: 100%;
}

.tabcell {
    display: table-cell;
}

.tabrow {
    display: table-row;
    width: 100%;
}
