      <a href='#/canopy-list'>back</a>
      <br>
        <div class='canopy-detail-category'>{{canopy.category}}</div>
        <div class='canopy-detail-detail'>
        <div ng-show="canopy.name">Name: {{canopy.name}}</div>
        <div ng-show="canopy.cells">Cells: {{canopy.cells}}</div>
        <div ng-show="canopy.firstyearofproduction">First year of production: {{canopy.firstyearofproduction}}</div>
        <div ng-show="canopy.lastyearofproduction">Last year of production: {{canopy.lastyearofproduction}}</div>
        <div ng-show="canopy.maxsize">Maximum size: {{canopy.maxsize}}</div>
        <div ng-show="canopy.minsize">Minimum size: {{canopy.minsize}}</div>
        </div>

