canopylist start

      Sort by:
      <select ng-model="orderProp">
        <option value="sort_category">Category</option>
        <option value="sort_name">Alphabetical</option>
        <option value="sort_manufacturer">manufacturer</option>
      </select>
      <br>

<ul ng-repeat='canopy in data.canopies | orderBy:orderProp'>
  <li>
      <a href='#/canopy-detail/{{canopy.id}}'>
        <div class='canopy-list-category'>{{canopy.category}}</div>
        <div class='canopy-list-detail'>
        {{canopy.name}}<br>
        {{(canopy.manufacturer.name)}}<br>
        </div>
    </a>
  </li>
</ul>
canopylist end
