canopylist start
<div class=''>
<div class='darkblue'>
<div class='table'>
<div class='tabrow'>
      Category:<br>
    <div class='tabcell'>
      <select ng-model="category">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
    </div>
    <div class='tabcell'>
      <span ng-model="jumps">{{jumps}}</span><br>
      <span ng-model="jumpstlastyear">{{jumpslastyear}}</span><br>
      <span ng-model="weight">{{weight}}</span>
    </div>

<div class='tabcell'>
      Filter by:<br>
      <select ng-model="filter">
        <option value="filt_close">Gangbare parachutes rond hoogste cat</option>
        <option value="filt_common">Gangbare parachutes</option>
        <option value="filt_all">Alle parachutes</option>
      </select>
      <br>
</div>

<div class='tabcell'>
      Sort by:<br>
      <select ng-model="order">
        <option value="sort_category">Category</option>
        <option value="sort_name">Alphabetical</option>
        <option value="sort_manufacturer">manufacturer</option>
      </select>
      <br>
</div>
</div>
</div>

Zoek: <input type="text" ng-model="search.name">

<br>
<br>
</div>    
<ul ng-repeat='canopy in data.canopies | filter:canopyFilter | filter:search | orderBy:sortkey'>
  <li ng-if="order=='sort_manufacturer' && canopy.manufacturer.name!=canopy_prev.manufacturer.name">
      <h1>{{canopy.manufacturer.name}}</h1>
  </li>
  <li ng-if="order=='sort_category' && canopy.category!=canopy_prev.category">
      <h1>Category: {{canopy.categoryForDisplay}}</h1>
  </li>
  <li>
      <a href='#/canopy-detail/{{canopy.id}}'>
        <div class='canopy-list-showdetails'><i class='fa fa-arrow-right'></i></div>
    </a>

        <div ng-if="order!='sort_category'" class='canopy-list-category'>{{canopy.categoryForDisplay}}</div>
        <div class='canopy-list-detail' ng-switch="order">
            <div>{{canopy.name}} <i ng-show='discontinued(canopy)' class="fa fa-chain-broken"></i>
                <span ng-show='canopy.url'><a ng-href='{{canopy.url}}' target='_blank'><i class='fa fa-external-link'>website</i></a></span>
                <span ng-show='canopy.youtube'><a ng-href='https://www.youtube.com/watch?v={{canopy.youtube[0].id}}' target='_blank'><i class='fa fa-youtube'>video</i></a></span>
            </div>
            <div ng-switch-when="sort_category">
                {{canopy.manufacturer.name}}
            </div>
            <div ng-switch-when="sort_name">{{canopy.manufacturer.name}}</div>
            <div ng-switch-when="sort_manufacturer">{{canopy.cells}} Cellen,
            <span>{{canopy.minsize}} tot {{canopy.maxsize}} sqft.</span>
            </div>
        </div>
  </li>
</ul>
canopylist end
